:root {
  --button-color: cadetblue;
  --button-color-hover: rgb(69, 114, 116);
  --button-color-active: rgb(127, 215, 218);
}

.app {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1000px;
}

.app h1 {
  display: inline-block;
  font-size: 2rem;
  padding: 10px 25px 20px 25px;
  margin-top: 40px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.294);
}

.button {
  width: 150px;
  padding: 10px;
  background-color: var(--button-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-color-hover);
}

.button:active {
  background-color: var(--button-color-active);
}

@media screen and (min-width: 400px) {
  .app h1 {
    font-size: 3rem;
  }
}
